failed to get console mode for stdout: The handle is invalid.
--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2 (Debian 16.2-1.pgdg120+2)
-- Dumped by pg_dump version 16.2 (Debian 16.2-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: audit; Type: SCHEMA; Schema: -; Owner: docker
--

CREATE SCHEMA audit;


ALTER SCHEMA audit OWNER TO docker;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: docker
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO docker;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: docker
--

COMMENT ON SCHEMA public IS '';


--
-- Name: log_with_pk(); Type: FUNCTION; Schema: audit; Owner: docker
--

CREATE FUNCTION audit.log_with_pk() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

pk_col text := TG_ARGV[0];

    pk_val text;

BEGIN

    IF TG_OP = 'INSERT' THEN

        pk_val := (to_jsonb(NEW)->>pk_col);

INSERT INTO audit.change_log(table_name, op, row_pk, new_data)

VALUES (TG_TABLE_NAME, 'I', pk_val, to_jsonb(NEW));

RETURN NEW;



ELSIF TG_OP = 'UPDATE' THEN

        pk_val := (to_jsonb(NEW)->>pk_col);

INSERT INTO audit.change_log(table_name, op, row_pk, old_data, new_data)

VALUES (TG_TABLE_NAME, 'U', pk_val, to_jsonb(OLD), to_jsonb(NEW));

RETURN NEW;



ELSIF TG_OP = 'DELETE' THEN

        pk_val := (to_jsonb(OLD)->>pk_col);

INSERT INTO audit.change_log(table_name, op, row_pk, old_data)

VALUES (TG_TABLE_NAME, 'D', pk_val, to_jsonb(OLD));

RETURN OLD;

END IF;



RETURN NULL;

END;

$$;


ALTER FUNCTION audit.log_with_pk() OWNER TO docker;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: change_log; Type: TABLE; Schema: audit; Owner: docker
--

CREATE TABLE audit.change_log (
    id bigint NOT NULL,
    table_name text NOT NULL,
    op character(1) NOT NULL,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    actor text DEFAULT CURRENT_USER NOT NULL,
    row_pk text,
    old_data jsonb,
    new_data jsonb
);


ALTER TABLE audit.change_log OWNER TO docker;

--
-- Name: change_log_id_seq; Type: SEQUENCE; Schema: audit; Owner: docker
--

CREATE SEQUENCE audit.change_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE audit.change_log_id_seq OWNER TO docker;

--
-- Name: change_log_id_seq; Type: SEQUENCE OWNED BY; Schema: audit; Owner: docker
--

ALTER SEQUENCE audit.change_log_id_seq OWNED BY audit.change_log.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO docker;

--
-- Name: priorities; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.priorities (
    priority_id smallint NOT NULL,
    priority_code character varying(32) NOT NULL,
    priority_name character varying(255) NOT NULL,
    name_pl character varying(64)
);


ALTER TABLE public.priorities OWNER TO docker;

--
-- Name: task_lists; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.task_lists (
    task_list_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    owner_id bigint,
    deleted_at timestamp without time zone
);


ALTER TABLE public.task_lists OWNER TO docker;

--
-- Name: task_lists_task_list_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.task_lists_task_list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_lists_task_list_id_seq OWNER TO docker;

--
-- Name: task_lists_task_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.task_lists_task_list_id_seq OWNED BY public.task_lists.task_list_id;


--
-- Name: task_members; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.task_members (
    task_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.task_members OWNER TO docker;

--
-- Name: task_statuses; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.task_statuses (
    status_id smallint NOT NULL,
    status_code character varying(32) NOT NULL,
    status_name character varying(255) NOT NULL
);


ALTER TABLE public.task_statuses OWNER TO docker;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.tasks (
    task_id bigint NOT NULL,
    task_name character varying(255),
    description text,
    start_date date DEFAULT CURRENT_DATE NOT NULL,
    due_date date,
    completed_at timestamp without time zone,
    reporter_id bigint,
    task_list_id bigint,
    priority_id smallint NOT NULL,
    status_id smallint NOT NULL,
    deleted_at timestamp without time zone
)
PARTITION BY HASH (task_id);


ALTER TABLE public.tasks OWNER TO docker;

--
-- Name: tasks_new_task_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

ALTER TABLE public.tasks ALTER COLUMN task_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tasks_new_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tasks_p0; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.tasks_p0 (
    task_id bigint NOT NULL,
    task_name character varying(255),
    description text,
    start_date date DEFAULT CURRENT_DATE NOT NULL,
    due_date date,
    completed_at timestamp without time zone,
    reporter_id bigint,
    task_list_id bigint,
    priority_id smallint NOT NULL,
    status_id smallint NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.tasks_p0 OWNER TO docker;

--
-- Name: tasks_p1; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.tasks_p1 (
    task_id bigint NOT NULL,
    task_name character varying(255),
    description text,
    start_date date DEFAULT CURRENT_DATE NOT NULL,
    due_date date,
    completed_at timestamp without time zone,
    reporter_id bigint,
    task_list_id bigint,
    priority_id smallint NOT NULL,
    status_id smallint NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.tasks_p1 OWNER TO docker;

--
-- Name: tasks_p2; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.tasks_p2 (
    task_id bigint NOT NULL,
    task_name character varying(255),
    description text,
    start_date date DEFAULT CURRENT_DATE NOT NULL,
    due_date date,
    completed_at timestamp without time zone,
    reporter_id bigint,
    task_list_id bigint,
    priority_id smallint NOT NULL,
    status_id smallint NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.tasks_p2 OWNER TO docker;

--
-- Name: tasks_p3; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.tasks_p3 (
    task_id bigint NOT NULL,
    task_name character varying(255),
    description text,
    start_date date DEFAULT CURRENT_DATE NOT NULL,
    due_date date,
    completed_at timestamp without time zone,
    reporter_id bigint,
    task_list_id bigint,
    priority_id smallint NOT NULL,
    status_id smallint NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.tasks_p3 OWNER TO docker;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_roles (
    role_id smallint NOT NULL,
    role_code character varying(32) NOT NULL,
    role_name character varying(255) NOT NULL
);


ALTER TABLE public.user_roles OWNER TO docker;

--
-- Name: users; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.users (
    user_id bigint NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role_id smallint NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO docker;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO docker;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: vw_task_lists_natural; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.vw_task_lists_natural AS
 SELECT task_list_id AS id,
    task_list_id,
    name,
    owner_id AS user_id,
    deleted_at
   FROM public.task_lists;


ALTER VIEW public.vw_task_lists_natural OWNER TO docker;

--
-- Name: vw_tasks_natural; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.vw_tasks_natural AS
 SELECT task_id AS id,
    task_id,
    task_list_id,
    reporter_id AS user_id,
    task_name,
    description,
    start_date,
    due_date,
    completed_at,
    priority_id,
    status_id,
    deleted_at
   FROM public.tasks;


ALTER VIEW public.vw_tasks_natural OWNER TO docker;

--
-- Name: tasks_p0; Type: TABLE ATTACH; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks ATTACH PARTITION public.tasks_p0 FOR VALUES WITH (modulus 4, remainder 0);


--
-- Name: tasks_p1; Type: TABLE ATTACH; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks ATTACH PARTITION public.tasks_p1 FOR VALUES WITH (modulus 4, remainder 1);


--
-- Name: tasks_p2; Type: TABLE ATTACH; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks ATTACH PARTITION public.tasks_p2 FOR VALUES WITH (modulus 4, remainder 2);


--
-- Name: tasks_p3; Type: TABLE ATTACH; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks ATTACH PARTITION public.tasks_p3 FOR VALUES WITH (modulus 4, remainder 3);


--
-- Name: change_log id; Type: DEFAULT; Schema: audit; Owner: docker
--

ALTER TABLE ONLY audit.change_log ALTER COLUMN id SET DEFAULT nextval('audit.change_log_id_seq'::regclass);


--
-- Name: task_lists task_list_id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_lists ALTER COLUMN task_list_id SET DEFAULT nextval('public.task_lists_task_list_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: change_log change_log_pkey; Type: CONSTRAINT; Schema: audit; Owner: docker
--

ALTER TABLE ONLY audit.change_log
    ADD CONSTRAINT change_log_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: priorities priorities_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.priorities
    ADD CONSTRAINT priorities_pkey PRIMARY KEY (priority_id);


--
-- Name: priorities priorities_priority_code_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.priorities
    ADD CONSTRAINT priorities_priority_code_key UNIQUE (priority_code);


--
-- Name: task_lists task_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_lists
    ADD CONSTRAINT task_lists_pkey PRIMARY KEY (task_list_id);


--
-- Name: task_members task_members_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_members
    ADD CONSTRAINT task_members_pkey PRIMARY KEY (task_id, user_id);


--
-- Name: task_statuses task_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_statuses
    ADD CONSTRAINT task_statuses_pkey PRIMARY KEY (status_id);


--
-- Name: task_statuses task_statuses_status_code_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_statuses
    ADD CONSTRAINT task_statuses_status_code_key UNIQUE (status_code);


--
-- Name: tasks tasks_new_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_new_pkey PRIMARY KEY (task_id);


--
-- Name: tasks_p0 tasks_p0_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks_p0
    ADD CONSTRAINT tasks_p0_pkey PRIMARY KEY (task_id);


--
-- Name: tasks_p1 tasks_p1_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks_p1
    ADD CONSTRAINT tasks_p1_pkey PRIMARY KEY (task_id);


--
-- Name: tasks_p2 tasks_p2_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks_p2
    ADD CONSTRAINT tasks_p2_pkey PRIMARY KEY (task_id);


--
-- Name: tasks_p3 tasks_p3_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks_p3
    ADD CONSTRAINT tasks_p3_pkey PRIMARY KEY (task_id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (role_id);


--
-- Name: user_roles user_roles_role_code_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_code_key UNIQUE (role_code);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_task_lists_active; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_task_lists_active ON public.task_lists USING btree (owner_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_tasks_active; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_tasks_active ON ONLY public.tasks USING btree (task_list_id, status_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_tasks_new_due_date; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_tasks_new_due_date ON ONLY public.tasks USING btree (due_date);


--
-- Name: idx_tasks_new_priority_id; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_tasks_new_priority_id ON ONLY public.tasks USING btree (priority_id);


--
-- Name: idx_tasks_new_reporter_id; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_tasks_new_reporter_id ON ONLY public.tasks USING btree (reporter_id);


--
-- Name: idx_tasks_new_start_date; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_tasks_new_start_date ON ONLY public.tasks USING btree (start_date);


--
-- Name: idx_tasks_new_status_id; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_tasks_new_status_id ON ONLY public.tasks USING btree (status_id);


--
-- Name: idx_tasks_new_task_list_id; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_tasks_new_task_list_id ON ONLY public.tasks USING btree (task_list_id);


--
-- Name: tasks_p0_due_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p0_due_date_idx ON public.tasks_p0 USING btree (due_date);


--
-- Name: tasks_p0_priority_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p0_priority_id_idx ON public.tasks_p0 USING btree (priority_id);


--
-- Name: tasks_p0_reporter_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p0_reporter_id_idx ON public.tasks_p0 USING btree (reporter_id);


--
-- Name: tasks_p0_start_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p0_start_date_idx ON public.tasks_p0 USING btree (start_date);


--
-- Name: tasks_p0_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p0_status_id_idx ON public.tasks_p0 USING btree (status_id);


--
-- Name: tasks_p0_task_list_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p0_task_list_id_idx ON public.tasks_p0 USING btree (task_list_id);


--
-- Name: tasks_p0_task_list_id_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p0_task_list_id_status_id_idx ON public.tasks_p0 USING btree (task_list_id, status_id) WHERE (deleted_at IS NULL);


--
-- Name: tasks_p1_due_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p1_due_date_idx ON public.tasks_p1 USING btree (due_date);


--
-- Name: tasks_p1_priority_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p1_priority_id_idx ON public.tasks_p1 USING btree (priority_id);


--
-- Name: tasks_p1_reporter_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p1_reporter_id_idx ON public.tasks_p1 USING btree (reporter_id);


--
-- Name: tasks_p1_start_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p1_start_date_idx ON public.tasks_p1 USING btree (start_date);


--
-- Name: tasks_p1_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p1_status_id_idx ON public.tasks_p1 USING btree (status_id);


--
-- Name: tasks_p1_task_list_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p1_task_list_id_idx ON public.tasks_p1 USING btree (task_list_id);


--
-- Name: tasks_p1_task_list_id_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p1_task_list_id_status_id_idx ON public.tasks_p1 USING btree (task_list_id, status_id) WHERE (deleted_at IS NULL);


--
-- Name: tasks_p2_due_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p2_due_date_idx ON public.tasks_p2 USING btree (due_date);


--
-- Name: tasks_p2_priority_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p2_priority_id_idx ON public.tasks_p2 USING btree (priority_id);


--
-- Name: tasks_p2_reporter_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p2_reporter_id_idx ON public.tasks_p2 USING btree (reporter_id);


--
-- Name: tasks_p2_start_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p2_start_date_idx ON public.tasks_p2 USING btree (start_date);


--
-- Name: tasks_p2_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p2_status_id_idx ON public.tasks_p2 USING btree (status_id);


--
-- Name: tasks_p2_task_list_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p2_task_list_id_idx ON public.tasks_p2 USING btree (task_list_id);


--
-- Name: tasks_p2_task_list_id_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p2_task_list_id_status_id_idx ON public.tasks_p2 USING btree (task_list_id, status_id) WHERE (deleted_at IS NULL);


--
-- Name: tasks_p3_due_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p3_due_date_idx ON public.tasks_p3 USING btree (due_date);


--
-- Name: tasks_p3_priority_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p3_priority_id_idx ON public.tasks_p3 USING btree (priority_id);


--
-- Name: tasks_p3_reporter_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p3_reporter_id_idx ON public.tasks_p3 USING btree (reporter_id);


--
-- Name: tasks_p3_start_date_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p3_start_date_idx ON public.tasks_p3 USING btree (start_date);


--
-- Name: tasks_p3_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p3_status_id_idx ON public.tasks_p3 USING btree (status_id);


--
-- Name: tasks_p3_task_list_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p3_task_list_id_idx ON public.tasks_p3 USING btree (task_list_id);


--
-- Name: tasks_p3_task_list_id_status_id_idx; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX tasks_p3_task_list_id_status_id_idx ON public.tasks_p3 USING btree (task_list_id, status_id) WHERE (deleted_at IS NULL);


--
-- Name: ux_task_members_task_user; Type: INDEX; Schema: public; Owner: docker
--

CREATE UNIQUE INDEX ux_task_members_task_user ON public.task_members USING btree (task_id, user_id);


--
-- Name: tasks_p0_due_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_due_date ATTACH PARTITION public.tasks_p0_due_date_idx;


--
-- Name: tasks_p0_pkey; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.tasks_new_pkey ATTACH PARTITION public.tasks_p0_pkey;


--
-- Name: tasks_p0_priority_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_priority_id ATTACH PARTITION public.tasks_p0_priority_id_idx;


--
-- Name: tasks_p0_reporter_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_reporter_id ATTACH PARTITION public.tasks_p0_reporter_id_idx;


--
-- Name: tasks_p0_start_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_start_date ATTACH PARTITION public.tasks_p0_start_date_idx;


--
-- Name: tasks_p0_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_status_id ATTACH PARTITION public.tasks_p0_status_id_idx;


--
-- Name: tasks_p0_task_list_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_task_list_id ATTACH PARTITION public.tasks_p0_task_list_id_idx;


--
-- Name: tasks_p0_task_list_id_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_active ATTACH PARTITION public.tasks_p0_task_list_id_status_id_idx;


--
-- Name: tasks_p1_due_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_due_date ATTACH PARTITION public.tasks_p1_due_date_idx;


--
-- Name: tasks_p1_pkey; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.tasks_new_pkey ATTACH PARTITION public.tasks_p1_pkey;


--
-- Name: tasks_p1_priority_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_priority_id ATTACH PARTITION public.tasks_p1_priority_id_idx;


--
-- Name: tasks_p1_reporter_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_reporter_id ATTACH PARTITION public.tasks_p1_reporter_id_idx;


--
-- Name: tasks_p1_start_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_start_date ATTACH PARTITION public.tasks_p1_start_date_idx;


--
-- Name: tasks_p1_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_status_id ATTACH PARTITION public.tasks_p1_status_id_idx;


--
-- Name: tasks_p1_task_list_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_task_list_id ATTACH PARTITION public.tasks_p1_task_list_id_idx;


--
-- Name: tasks_p1_task_list_id_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_active ATTACH PARTITION public.tasks_p1_task_list_id_status_id_idx;


--
-- Name: tasks_p2_due_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_due_date ATTACH PARTITION public.tasks_p2_due_date_idx;


--
-- Name: tasks_p2_pkey; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.tasks_new_pkey ATTACH PARTITION public.tasks_p2_pkey;


--
-- Name: tasks_p2_priority_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_priority_id ATTACH PARTITION public.tasks_p2_priority_id_idx;


--
-- Name: tasks_p2_reporter_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_reporter_id ATTACH PARTITION public.tasks_p2_reporter_id_idx;


--
-- Name: tasks_p2_start_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_start_date ATTACH PARTITION public.tasks_p2_start_date_idx;


--
-- Name: tasks_p2_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_status_id ATTACH PARTITION public.tasks_p2_status_id_idx;


--
-- Name: tasks_p2_task_list_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_task_list_id ATTACH PARTITION public.tasks_p2_task_list_id_idx;


--
-- Name: tasks_p2_task_list_id_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_active ATTACH PARTITION public.tasks_p2_task_list_id_status_id_idx;


--
-- Name: tasks_p3_due_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_due_date ATTACH PARTITION public.tasks_p3_due_date_idx;


--
-- Name: tasks_p3_pkey; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.tasks_new_pkey ATTACH PARTITION public.tasks_p3_pkey;


--
-- Name: tasks_p3_priority_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_priority_id ATTACH PARTITION public.tasks_p3_priority_id_idx;


--
-- Name: tasks_p3_reporter_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_reporter_id ATTACH PARTITION public.tasks_p3_reporter_id_idx;


--
-- Name: tasks_p3_start_date_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_start_date ATTACH PARTITION public.tasks_p3_start_date_idx;


--
-- Name: tasks_p3_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_status_id ATTACH PARTITION public.tasks_p3_status_id_idx;


--
-- Name: tasks_p3_task_list_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_new_task_list_id ATTACH PARTITION public.tasks_p3_task_list_id_idx;


--
-- Name: tasks_p3_task_list_id_status_id_idx; Type: INDEX ATTACH; Schema: public; Owner: docker
--

ALTER INDEX public.idx_tasks_active ATTACH PARTITION public.tasks_p3_task_list_id_status_id_idx;


--
-- Name: task_lists trg_audit_task_lists; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER trg_audit_task_lists AFTER INSERT OR DELETE OR UPDATE ON public.task_lists FOR EACH ROW EXECUTE FUNCTION audit.log_with_pk('task_list_id');


--
-- Name: tasks trg_audit_tasks; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER trg_audit_tasks AFTER INSERT OR DELETE OR UPDATE ON public.tasks FOR EACH ROW EXECUTE FUNCTION audit.log_with_pk('task_id');


--
-- Name: users trg_audit_users; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER trg_audit_users AFTER INSERT OR DELETE OR UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION audit.log_with_pk('user_id');


--
-- Name: tasks fk_tasks_list; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE public.tasks
    ADD CONSTRAINT fk_tasks_list FOREIGN KEY (task_list_id) REFERENCES public.task_lists(task_list_id);


--
-- Name: tasks fk_tasks_priority; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE public.tasks
    ADD CONSTRAINT fk_tasks_priority FOREIGN KEY (priority_id) REFERENCES public.priorities(priority_id);


--
-- Name: tasks fk_tasks_reporter; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE public.tasks
    ADD CONSTRAINT fk_tasks_reporter FOREIGN KEY (reporter_id) REFERENCES public.users(user_id);


--
-- Name: tasks fk_tasks_status; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE public.tasks
    ADD CONSTRAINT fk_tasks_status FOREIGN KEY (status_id) REFERENCES public.task_statuses(status_id);


--
-- Name: task_lists task_lists_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_lists
    ADD CONSTRAINT task_lists_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(user_id);


--
-- Name: task_members task_members_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_members
    ADD CONSTRAINT task_members_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(task_id) ON DELETE CASCADE;


--
-- Name: task_members task_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.task_members
    ADD CONSTRAINT task_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.user_roles(role_id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: docker
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

