@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);

:root {
    --app-bg-color: #f0f2f5;
    --app-bg-color-lighter: #ffffff;
    --app-bg-color-darker: #e6e7e8;
    --app-font-color: #303035;
    --app-font-family: "Quicksand", sans-serif;
    --app-acc-color: #1f89bf;
    color: var(--app-font-color);
    font-family: var(--app-font-family);
    font-size: 10px;
    font-weight: 400;
    background-color: var(--app-bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    outline: none;
    text-decoration: inherit;
}

a,
a:visited {
    color: inherit;
}

button {
    border: none;
    color: var(--app-font-color);
    font-family: var(--app-font-family);
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#TopBar {
    flex-shrink: 0;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: var(--app-bg-color-darker);
}

.logo {
    height: 4rem;
}

#User-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.User-profile2 {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.Logout {
    font-size: 1.5rem;
    color: #000;
}

#container-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6rem);
    justify-content: center;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Page-Title-Bar {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.change-password form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 500px;
}

.change-password label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--app-font-color);
}

.change-password input {
    padding: 1rem;
    border: 1px solid var(--app-bg-color-darker);
    border-radius: 0.5rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.change-button,
.cancel-button {
    background-color: var(--app-acc-color);
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    flex: 1;
    font-family: var(--app-font-family);
    font-size: 1rem;
    font-weight: 500;
}

.cancel-button {
    background-color: #f44336;
}

.messages {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

footer {
    text-align: left;
    padding: 0.3rem;
    background-color: var(--app-bg-color-darker);
    color: var(--app-font-color);
    flex-shrink: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
}
