@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);

:root {
    --app-bg-color: #f0f2f5;
    --app-bg-color-lighter: #ffffff;
    --app-bg-color-darker: #e6e7e8;
    --app-font-color: #303035;
    --app-font-family: "Quicksand", sans-serif;
    --app-acc-color: #1f89bf;
    color: var(--app-font-color);
    font-family: var(--app-font-family);
    font-size: 10px;
    font-weight: 400;
    background-color: var(--app-bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    outline: none;
    text-decoration: inherit;
}

a,
a:visited {
    color: inherit;
}

button {
    border: none;
    color: var(--app-font-color);
    font-family: var(--app-font-family);
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Usunięcie białych pasków po bokach */
}

#TopBar {
    flex-shrink: 0;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: var(--app-bg-color-darker);
}

.logo {
    height: 4rem;
}

#User-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.User-profile2 {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.Logout,
.ChangePassword {
    font-size: 1.5rem;
    color: #000;
}

#container-page {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 6rem); /* Zmiana wysokości kontenera */
}

.sidebar {
    flex-shrink: 0;
    width: 20%;
    background-color: var(--app-bg-color-lighter);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    height: calc(100vh - 6rem); /* Dostosowanie wysokości */
    box-shadow: none; 
}

.tasklist-display {
    width: 100%;
    overflow-y: auto; 
    height: 100%; 
}

.TASKLIST {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 1px solid var(--app-bg-color-darker);
    border-radius: 0.5rem;
}

.TASKLIST.selected {
    background-color: var(--app-acc-color);
    color: #fff;
}

.TASKLIST-choose {
    display: flex;
    align-items: center;
}

.tasklist-icon {
    margin-right: 0.5rem;
}

.add-tasklist {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--app-bg-color-darker);
    border-radius: 0.5rem;
    width: 100%;
    margin-top: auto;
    color: var(--app-acc-color);
    box-sizing: border-box;
}

.main-content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6rem);
    overflow: hidden; 
}

.Page-Title-Bar {
    text-align: center;
    font-size: 2.5rem; 
    margin-bottom: 2rem;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: var(--app-bg-color-darker);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#search {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid var(--app-bg-color-darker);
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
    background-color: var(--app-bg-color-lighter);
}

.search-icon {
    padding: 0.5rem 1rem;
    background-color: var(--app-bg-color-darker);
    border: 1px solid var(--app-bg-color-darker);
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-task-button {
    background-color: var(--app-acc-color);
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
    align-self: center;
}

.task-display {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto; /* Umożliwia przewijanie w pionie */
    padding-bottom: 10rem;
}

.task-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--app-bg-color-darker);
    border-radius: 0.5rem;
    background-color: var(--app-bg-color-lighter);
}

.task-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem; /* Dodanie odstępu między nagłówkiem a opisem */
}

.task-checkbox {
    cursor: pointer;
}

.name.completed {
    text-decoration: line-through;
}

.status {
    margin-left: auto;
    color: var(--app-font-color);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.delete-task-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}

footer {
    text-align: left;
    padding: 0.3rem; /* Zmniejszenie paddingu */
    background-color: var(--app-bg-color-darker);
    color: var(--app-font-color);
    flex-shrink: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 1rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
