<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Custom Login</title>
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}" />
</head>
<body>
<h2>Mój Custom Login</h2>

<!--
  Ponieważ .formLogin() domyślnie używa POST /login do przetworzenia logowania,
  pola muszą mieć name="username" i name="password" (jeśli nie konfigurowałeś inaczej).
-->
<form th:action="@{/login}" method="post">
    <input type="text" name="username" placeholder="login">
    <input type="password" name="password" placeholder="hasło">
    <button type="submit">Zaloguj</button>
</form>

</body>
</html>
