<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Logowanie – StudyFlow</title>

    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script defer th:src="@{/js/login.js}"></script>
</head>
<body>

<div id="TopBar"><img class="logo" th:src="@{/img/logo.svg}" alt="logo"></div>

<div class="card-wrap">
    <h2 class="card-title">Zaloguj się</h2>

    <form class="auth-form" th:action="@{/login}" method="post">

        <div class="field">
            <label>E-mail</label>
            <input type="email" name="username" required>
        </div>

        <div class="field">
            <label>Hasło</label>

            <div class="pwd-inner">
                <input type="password" name="password" required>
                <button type="button" class="toggle eye">👁</button>
            </div>
        </div>

        <button class="btn-primary">Zaloguj</button>

        <p th:if="${param.error}"  class="error-msg">Niepoprawne dane logowania.</p>
        <p th:if="${param.logout}" class="success-msg">Wylogowano pomyślnie.</p>
    </form>

    <p class="note">Nie masz konta?
        <a th:href="@{/registrationUser}">Zarejestruj się</a></p>
</div>

</body>
</html>
